.mainContainer {
  --color-placeholder: rgb(46, 42, 42);

  background-color: var(--color-primary);
  border: none;
  border-radius: 15px;
  color: var(--color-text);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  justify-content: space-around;
  align-items: center;
  margin: 0 21em 10px;
  padding: 0.4em 1.1em 0.4em;
  transition: all 0.15s ease;
}

.mainContainer:hover {
  background-color: var(--color-secondary);
  transform: scale(1.01);
}

.input {
  flex: 1;
  border: none;
  font: italic bold 16px/1.5 "Calibri", sans-serif;      
  background: transparent;
  color: white;
  font-size: 16px;
  padding: 0.5em;
  margin-right: 10px;
}

.input::placeholder {
  color: var(--color-placeholder);
  font-weight: normal; 
}

.input:focus {
  outline: none;
}

.button {
  font: italic bold 16px/1.5 "Calibri", sans-serif;    
  background-color: rgba(var(--color-secondary), 0);   
  color: var(--color-text);
  border: none;
  border-radius: 5px;
  cursor: pointer;    
  font-size: 21px;    
  transition: background-color 0.3s ease;
}

.button:hover {
  color: var(--color-link-hover)
}
