.mainContainer {
    --color-text: white;
    background-color: var(--color-primary);    
    font: italic bold 15px/1.5 "Calibri", sans-serif;
    color: var(--color-text);
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;   
    border: none;    
    margin: 1.8em 2em;    
    font-size: 2.2em;   
    transition: all 0.15s ease;
}
.mainContainer:hover {    
    background-color: var(--color-secondary); 
    transform: scale(1.01);
}  
