:root {
    --color-primary: #b7ac00;
    --color-secondary: #e6d100;
    --color-text: #fff31d;
    --color-link: #000000;
    --color-link-hover: #fffbf3;
}

.mainContainer {         
    background-color: var(--color-primary);
    border: none;
    border-radius: 15px;
    color: var(--color-text);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    justify-content: space-around;
    align-items: center; 
    margin: 0 0.3em 10px;
    padding: 0.4em 1.1em 0.4em;
    transition: all 0.15s ease; 
}

.mainContainer:active,
.mainContainer:hover {
    background-color: var(--color-secondary);
    transform: scale(1.01);     
}

.mainContainer a {  
    font: italic bold 16px/1.5 "Calibri", sans-serif;
    color: var(--color-link);
    font-size: 21px;
    margin-right: 10px;    
    text-decoration: none;
}

.mainContainer a:hover {
    text-decoration: underline;
    color: var(--color-link-hover);
    text-decoration: none;
}
